<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InvestorStalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EED201321BF684BE00A6C9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED201461BF684BE00A6C9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED201511BF684BE00A6C9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
